body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  /* margin: 20px; */
  background-color: #ccc;
}

ol,
ul {
  /* padding-left: 30px; */
  padding: 5px;
    margin: 5px;
}

.board-row {
  /* display: flex; */
}
.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  display: flex;
  margin-bottom: 10px;
  color: #00f;
  font-weight: 700;
}

.square {
  color: #a52020;
  background: #adad26;
  border: 1px solid #000;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  color: #ff0;
  background: #f00;
}

.kbd-navigation .square:focus {
  background: green;
}

.game {
  background: #4e4e4e;
  display: flex;
  flex-direction: row;
  flex-direction: column;
  align-items: center;
}

.game-board > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-info {
  /* margin-left: 20px; */
  width: 20%;
}
