// @import "../../../../styles/mixins.scss";

.MemoryReact {
  * {
    margin: 0;
  }
  // отбратные отступы(чуть больше от просветов) чтоб компенсировать mergin у main
  margin: -1.2% -3.2%;
  padding: 0px 3%;
  font-size: 1.5em;
  font-size: 18px;
  text-align: center;
  // background: #1b1523;
  background: #3f285e;
  color: #ccc;
  font-family: Raleway, sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  h1 {
    font-size: 1.5em;
    @include adaptiv-value-all("margin", 45, 5, 0, 0, 45, 5);
  }
}
.MemoryReact {
  .card-grid {
    margin: 40px 0 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .progress {
    width: 100%;
    height: 10px;
    position: relative;
    padding: 0px;
    border-radius: 30px;
    background-color: #888888;
    // margin-bottom: 25px;
    &:hover::before {
      content: "Прогресс";
      position: absolute;
      left: 50%;
      top: 0px;
      font-size: 10px;
    }
    &__inner {
      height: 100%;
      border-radius: 30px;
      width: 80%;
      background: #d8c415;
      transition: all 0.3s ease-in-out;
      background: linear-gradient(90deg, #f1cd00 0%, #a10303 100%);
    }
  }

  // секундомер ----------------------------------------------------------------------------------
  .stop-watch {
    // height: 85vh;
    // width: 23vw;
    background-color: #0d0c1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .timer {
    display: inline-block;
    // margin: 3rem 0;
    // margin: 20px 0px;
    // width: 100%;
    // display: flex;
    // height: 12%;
    // justify-content: center;
    // align-items: center;
  }

  .digits {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    font-size: 25px;
    color: #f5f5f5;
  }

  .mili-sec {
    color: #e42a2a;
  }
  .Control-Buttons {
    margin: 3rem 0;
    margin: 0 0 20px 0px;
    // width: 100%;
    // box-sizing: border-box;
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }

  .btn-grp {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 10vw;
    height: 5vh;
    border-radius: 14px;
    margin: 0px 6px;
    display: flex;
    border: 2px solid #e42a2a;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #f5f5f5;
  }

  .btn-one {
    background-color: #e42a2a;
  }

  // результат ----------------------------------------------------------------------------------
}
