* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
}
img {
  height: 200px;
  width: 200px;
}
.main-container {
  /* width: 1200px;
  height: 600px; */
  width: 850px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.memory-card {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 2px;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-out 0s;
}
.frontface,
.baskface {
  /* height: 100%;
  width: 100%; */
  object-fit: cover;
  position: absolute;
  backface-visibility: hidden;
}
.frontface {
  transform: rotateY(0.5turn);
}
.memory-card.flip {
  transform: rotateY(180deg) perspective(100px);
}
.baskface {
  /* opacity: 0; */
}
