// @import "../../styles/mixins.scss"; // ??? не раб - подкл. mixin не выходит в Комп.

.btn-single {
  padding: 10px 12px;
  // padding: 0.5% 1%;
  border-radius: 30px;
  font-size: 18px;
  // @include adaptiv-font(24, 12);
  font-weight: bold;
  background: #555;
  cursor: pointer;
  // line-height: 23px;
  border: 2px solid #555;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 01);
  transition: all 0.2s ease-in-out;

  &:hover {
    color: gold;
    box-shadow: 0 8px 10px #000000;
    transform: translateY(-3px);
  }

  &:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 01);
    transform: translateY(0);
  }
}
